*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 8px;
    padding: 0;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    /*background: url(Fondo.png)no-repeat;*/
    background-size: cover;

 }   
.header-portada{

    position: absolute;
    width: 1366px;
    height: 220px;
    left: 0px;
    top: 70px;
    
    background:white;
}
nav{
    background: white;
    height: 70px;
    width: 100%;
}
.logo{
    color: white;
    font-size: 30px;
    line-height: 65px;
    padding: 0 80px;
    font-weight: bold;
    cursor: pointer;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 65px;
    margin: 0 15px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
}




.h1{

    position: relative;
    width: 256px;
    height: 27px;
    left: 277px;
    top: 2;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    
    color: #2D9CDB;

}

.h3{

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.03em;
    color: #1F3F68;
    }
.p{

    position: absolute;
    width: 366px;
    height: 137px;
    left: 277px;
    top: 699px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    
    color: #4F4F4F;
}

.h4{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.04em;
    color: #1F3F68;
}

.h5{

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.4);
}

.header-h2{
    position:relative;
    width: 543px;
    height: 144px;
    left: 277px;
    top: 50;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 42px; 
    color: #333333;
    
}

.header-h3{

position: absolute;
width: 366px;
height: 141px;
left: 277px;
top: 580px;

  
font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 42px; 
    color: #333333;

}

.header-h4{

    position: absolute;
    width: 346px;
    height: 108px;
    left: 165px;
    top: 960px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 44px;

    color: #333333;
 
    
    }

.imagen1{
    width: 1332px;
    height: 354px;
    left: 52px;
    top: 220px;
    border-radius: 25px;
    background-image:url(/images/heroImage.jpg);
   
}
.barra{
    position: absolute;
    width: 940px;
    height: 56px;
    left: 250px;
    top: 236px;
    
    background: #F4F4F4;
    border-radius: 8px;

}
.container-1{
    
position:absolute;
width: 940px;
height: 370px;
left: 210px;
top: 1160px;
display: grid;
align-items:center ;
  
  grid-template-rows:auto;
 
  padding:0;
 



}





    
.child{
  display: grid;
  grid-template-columns: repeat(3,auto-fill, minmax(200px, 1fr));
  grid-auto-rows:auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
  

.imagen{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 213px;
    top: 1017px;
    
    background: url(/images/img-post-2.png), #C4C4C4;


}
